body {
    margin: 0;
    background: #000;
    color: #fefefe;
    font-family: 'Roboto Condensed', monospace;
}

a {
    text-decoration: none;
}

#controls {
    background: #06F1DA;
    color: #000;
    font-size: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    height: 30px;
}

#control-left,
#control-right {
    display: inline-block;
    padding: 0px 10px;
    min-width: 200px;
}

#control-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

#logo {
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 5px 5px 5px 30px;
    line-height: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info {
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
}

.btn img {
    position: absolute;
    left: 10px;
    top: 7px;
}

#controls .divider {
    width: 20px;
    display: inline-block;
}

.btn:hover {
    font-weight: bold;
}

.warning {
    color: #110f04;
    background-color: #fdd008;
    display: inline-block;
    padding: 5px 20px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid #110f04;
}

.warning h1 {
    padding: 0;
    margin: 10px 0px;
}

@media screen and (max-width: 900px) {
    #control-center, #control-right {
        display: none !important;
    }
}
