#controls {
    position: sticky;
    top: 0;
    z-index: 100;
}

.band-node {
    display: block;
}

.band-name {
    font-size: 30px;
    cursor: default;
    color: #06F1DA;
    padding: 20px 0px 5px 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.band-name.completed {
    color: #094a44;
}

.song-name {
    font-size: 22px;
    padding: 5px 10px 5px 40px;
    cursor: pointer;
    color: #f0f0f0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-name.completed {
    color: #444;
}

.song-name:hover>.name {
    color: #06F1DA;
    text-decoration: underline;
}

.song-name.completed:hover {
    color: #666;
}

.tag {
    color: #048f81;
    text-transform: lowercase;
    font-family: 'Menlo', 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.song-name.completed .tag {
    color: #094a44;
}

@media screen and (max-width: 1000px) {
    .band-name {
        font-size: 27px;
        padding: 15px 0px 5px 15px;
    }

    .song-name {
        font-size: 18px;
        padding: 2px 10px 5px 15px;
    }

    .tags {
        display: block;
        line-height: 12px;
    }

    .tag {
        font-size: 10px;
        margin-left: 0px;
        margin-right: 5px;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    15% { transform: translateX(-8px); }
    30% { transform: translateX(8px); }
    45% { transform: translateX(-8px); }
    60% { transform: translateX(8px); }
    75% { transform: translateX(-4px); }
    90% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}
