#lyrics-parent {
    display: flex;
    height: calc(100vh - 30px);
}

.lyrics-block {
    overflow-y: scroll;
    padding: 5px;
    border-right: 1px solid #06F1DA;
}

.lyrics-line {
    margin: 5px 20px;
    font-size: 18px;
}

.chords {
    color: #06af9e;
    font-family: Menlo, monospace;
    line-height: 8px;
    padding-top: 10px;
}

.lyrics-divider {
    height: 2px;
    text-align: center;
    width: 100px;
    background: #333;
    margin: 15px 20px;
}

.lyrics-break {
    height: 6px;
}

.scroll-past-end {
    height: 1000px;
}

.lyrics-highlighted {
    color: #06F1DA;
    margin: 15px 16px;
    font-size: 20px;
    font-family: Menlo, monospace;
    font-weight: bold;
    cursor: pointer;
}

.lyrics-highlighted:hover {
    text-decoration: underline;
}

.lyrics-highlighted.collapsed {
    color: #049284;
}

.hl {
    color: #049284;
}

.dim {
    color: #777;
}

#links {
    position: absolute;
    bottom: -4px;
    background: black;
    border: 1px solid #06F1DA;
    border-top-left-radius: 8px;
    right: -1px;
    padding-right: 12px;
}

#links a {
    color: #06F1DA;
    padding: 6px 0px 10px 12px;
    font-size: 18px;
    display: inline-block;
}

#links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .lyrics-block {
        border-right: none;
    }

    .lyrics-line {
        margin: 5px 10px;
    }

    .lyrics-highlighted {
        margin: 15px 7px;
    }

    .scroll-past-end {
        height: 100px;
    }
}

@media screen and (max-width: 450px) {
    .lyrics-block {
        width: 100%;
    }

    .lyrics-block-clone {
        display: none !important;
    }
}
